# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [

  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Coconut'
      'submenu': [
        {
          'label': 'Start a new session'
          'command': 'coconut:startSession'
        },
        {
          'label': 'Join session'
          'command': 'coconut:joinSession'
        },
        {
          'label': 'Sync'
          'command': 'coconut:sync'
        },
        {
          'label': 'Facebook Toggle'
          'command': 'coconut:facebookToggle'
        },
        {
          'label': 'WhatsApp Toggle'
          'command': 'coconut:whatsappToggle'
        },
        {
          'label': 'Slack Toggle'
          'command': 'coconut:slackToggle'
        }
      ]
    ]
  }
]
