# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle coconuttest'
      'command': 'coconut:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'coconut'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'coconut:toggle'
        },
        {
          'label': 'Start a new session'
          'command': 'coconut:startSession'
        },
        {
          'label': 'Join session'
          'command': 'coconut:joinSession'
        },
        {
          'label': 'Sync'
          'command': 'coconut:sync'
        }
      ]
    ]
  }
]
