.copy {
  float: right;
  cursor: pointer;
}

.sessionId {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0;
}

.header {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.styleguide padded pane-item native-key-bindings {
  text-align: center;
}

.button {
  margin: 0 auto;
  text-align: center;
  display: block;
  cursor: pointer;
}
